.location-page {
    width: 900px;
}

@media (max-width: 1000px) {
    .location-page {
        width: 900px;
    }
}

@media (max-width: 800px) {
    .location-page {
        width: 700px;
    }
}

@media (max-width: 700px) {
    .location-page {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .location-page {
        width: 550px;
    }
}

@media (max-width: 500px) {
    .location-page {
        width: 380px;
    }
}