.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .row {
        flex-direction: row;
      }
      .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
}